@font-face {
	font-family: 'iconfont-1';
	src: url('iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.hide {
	display: none !important;
}

#superdrag-panel {
	padding: 2px 5px;
	width: 226px; /* get the value from superdrag.js::openPanel() */
	background-color: white;
}

#superdrag-title-bar {
	margin: .5em 0;
}

#superdrag-action-desc {
	font-weight: bold;
}

.superdrag-category-desc {
	color: #aaa;
}

.superdrag-target {
	/*
	width: 64px;
	*/
	height: 40px;
	margin: 2px 4px;

	border: 1px solid transparent;
	border: 1px solid #eee;

	position: relative;
}

.superdrag-target.hover {
	border-color: #ccc;
	box-shadow: inset 0 0 5px #888;
	transition-duration: 250ms;
	transition-property: border-color, box-shadow;
}

.superdrag-target:before, 
.superdrag-target:after {
	position: absolute;
	font-family:"iconfont-1";
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 32px;
	color: #ccc;
	display: block;
	top: 0;
	left: 0;
}

.superdrag-target.hover:after {
	color: black;
}

#superdrag-link-tab-background:after
, #superdrag-image-tab-background:after {
	content: "\3632";
	margin-top: 0px;
}

#superdrag-link-tab-foreground:after
, #superdrag-image-tab-foreground:after {
	content: "\35ec";
	margin-top: 3px;
}

#superdrag-link-tab-current:after {
	content: "\35e4";
	margin-top: 2px;
}

/*
#superdrag-text-search-background:before {
	position: absolute;
	top: 16px;
	left: -6px;
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: #999;

	content: "\35ec";
}
*/

#superdrag-text-search-background:after,
#superdrag-text-search-foreground:after,
#superdrag-text-search-current:after {
	content: "\355d";
	margin-top: 1px;
}

#superdrag-image-save:after {
	content: "\3562";
	margin-top: 2px;
}

#superdrag-cancel:after {
	content: "\35bd";
}

#superdrag-options:after {
	content: "\356f";
	margin-top: 3px;
}




